.list {
  color: white;
  margin: 0;

  --ifm-list-item-margin: 0;
  --ifm-list-left-padding: 0;
  --ifm-list-margin: 0;
  --ifm-list-item-margin: 0;
  --ifm-list-paragraph-margin: 0;
}

.listItem {
  display: flex;
  align-items: center;
  margin: 0;
  transition: background-color 0.3s ease;
  position: relative;
}

.listItem:nth-child(odd) {
  background-color: #323232;
}

.listItem:nth-child(even) {
  background-color: #4b4b4b;
}

.listItem img {
  width: auto;
  height: 80%;
}

.listItem article {
  padding: 10px;
  flex: 1;
}

.settings {
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  --ifm-list-item-margin: 0;
  --ifm-list-left-padding: 0;
  --ifm-list-margin: 0;
  --ifm-list-item-margin: 0;
  --ifm-list-paragraph-margin: 0;
}

.itemContent span {
  margin-left: 8px;
}

.cta {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.info {
  font-weight: bold;
  text-align: center;
}
