.list {
  /* reset ifm vars */
  --ifm-list-left-padding: 0;
  --ifm-list-margin: 0;
  --ifm-list-item-margin: 0;
  --ifm-list-paragraph-margin: 0;
  color: white;
  margin: 0;
}

.listItem {
  --ifm-list-item-margin: 0;
  display: flex;
  align-items: center;
  margin: 0;
  transition: background-color 0.3s ease;
}

.listItem:nth-child(odd) {
  background-color: #323232;
}

.listItem:nth-child(even) {
  background-color: #4b4b4b;
}

.listItem img {
  width: auto;
  height: 80%;
}

.listItem article {
  padding: 10px;
  flex: 1;
}