h1{
  font-weight: bold;
  color: #b561b7;
}

@media (min-width: 48em) {
  .react-live{
    display: flex;
  }
  
  .react-live-preview, .react-live > .prism-code {
    width: 100%;
  }
  /* .react-live .prism-code {
    max-height: 500px;
    overflow: auto;
  } */
}